.gallery-section {
  background-color: #fff;
  margin-top: 10rem;

  height: 100vh;

  padding: 0rem 5rem;
}

.ternary-heading {
  display: inline-block;
  padding: 1rem 0rem;
  font-size: 1.8rem;
  margin-top: 0rem;
  box-shadow: inset 0 -3px 0 0 #5306f8;
}
.secondary-heading {
  font-size: 2.6rem;
  margin-top: 1rem;
}
